<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties url="http://image.datadrawing.com:38080/system.properties">
        <!--<property name="driver" value="com.mysql.jdbc.Driver"></property>-->
        <!--<property name="url" value="jdbc:mysql://127.0.0.1:3306/test?characterEncoding=utf8&allowMultiQueries=true&useSSL=false&zeroDateTimeBehavior=convertToNull"></property>-->
        <!--<property name="username" value="root"></property>-->
        <!--<property name="password" value="123456"></property>-->
    </properties>
    <typeAliases>
        <package name="com.yhb.entity"></package>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<mapper resource="mapper/UserMapper.xml"></mapper>-->
        <mapper class="com.yhb.mapper.UserMapper"></mapper>
        <!--<package name="com.yhb.mapper"></package>-->
    </mappers>

</configuration>